
<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" routerLink="items" routerLinkActive="active">Welcome to Crud Operations</a>

  <div class="barNav" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="items" routerLinkActive="active" >Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="items/additem" routerLinkActive="active" >Additem</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>